@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #10b981;
}

body {
  @apply bg-zinc-900 text-stone-50;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
